@using FreelancePool.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">

    <!-- Fonts -->
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" />
    <!-- Squad theme CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/color/default.css" rel="stylesheet">

    @*<environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>*@
</head>
<body class="container-fluid" id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <h1>@GlobalConstants.SystemName</h1>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse navbar-left navbar-main-collapse">
                        <ul class="nav navbar-nav">
                            <li><a class="bg-primary" asp-area="" asp-controller="Users" asp-action="MakeAProfile">Make a profile</a></li>
                            <vc:categories></vc:categories> 
                            <li><a class="bg-primary" asp-area="" asp-controller="Projects" asp-action="Post">Post a project</a></li>
                            <li><a href="#projects">All Projects</a></li>
                            <li><a href="#posts">All Freelancers</a></li>
                        </ul>
                    </div>

                    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                        <partial name="_LoginPartial" />
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </header>

        <div class="container-fluid">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>
    </div>
    <br />
    <footer class="border-primary footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <!-- Core JavaScript Files -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/jquery.scrollTo.js"></script>
    <script src="~/js/wow.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/js/custom.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/jquery-1.10.2.js"></script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
